<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">

<div class="container">

<a class="navbar-brand d-flex align-items-center" href="/">

<img src="{{ url_for('static', filename='img/logo.png') }}" width="42">

<span class="ms-2 fw-bold text-primary">

AcademyMap

</span>

</a>

<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#menu">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav ms-auto">

<li class="nav-item">

<a class="nav-link" href="/">Inicio</a>

</li>

<li class="nav-item">

<a class="nav-link" href="/quiz">Quiz</a>

</li>

<li class="nav-item">

<a class="nav-link" href="/liceos">Liceos</a>

</li>

<li class="nav-item">

<a class="nav-link" href="/comparar">Comparar</a>

</li>

<li class="nav-item ms-2">

<a class="btn btn-primary rounded-pill px-4" href="/admin">

Administrador

</a>

</li>

</ul>

</div>

</div>

</nav>